body {
    @include flexContainer(column, nowrap);
    @include flexAxis(flex-start, center);
    width: 100vw;
    height: 100vh;

    .shell {
        background: $colorBgBodyOne;
        @include flexContainer(column, nowrap);
        @include flexAxis(flex-start, center);
        @include flexItem(1, 0, auto);
        width: 100vw;

        section {
            @include flexContainer(row, nowrap);
            @include flexAxis(center, stretch);
            width: 100vw;
            margin-bottom: 1rem;

            .module {
                @include flexContainer(row, wrap);
                @include flexItem(1, 1, 100%);

                .unit, .unit-1, .unit-2, .unit-3, .unit-4, .unit-5, .unit-6, .unit-7, .unit-8, .unit-9 {
                    @include flexItem(1, 1, 100%);
                    padding: .5rem;
                    box-sizing: border-box;
                    margin: 0 .5rem .5rem;
                }
            }
        }
    }
}


@include mediaQuery($mobile-lg){
    body {
        .shell {
            section {

                .module {
                    @include flexContainer(row, nowrap);
                    @include flexAxis(flex-start, center);
                    max-width: $laptop;

                    .unit {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(1, 1, 33%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-1 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 10%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-2 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 20%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-3 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 30%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-4 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 40%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-5 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 50%);
                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-6 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 60%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-7 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 70%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-8 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 80%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-9 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 0, 90%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                }

                .module-centered {
                    @include flexAxis(center, center);
                }

                .module-centered {
                    @include flexAxis(flex-end, center);
                }
            }
        }
    }
}
