body {
    @include flexContainer(column, nowrap);
    @include flexAxis(center, center);
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;

    .shell {
        background: $colorBgBody;
        @include flexContainer(column, nowrap);
        @include flexAxis(flex-start, center);
        @include flexItem(1, 0, auto);
        width: 100%;

        section {
            @include flexContainer(column, nowrap);
            @include flexAxis(flex-start, stretch);
            margin-bottom: 1rem;
            width: 100%;

            .module {
                @include flexContainer(row, wrap);
                @include flexAxis(space-between, center);
                @include flexItem(1, 1, 100%);

                .unit, .unit-1, .unit-2, .unit-3, .unit-4, .unit-5, .unit-6, .unit-7, .unit-8, .unit-9, .unit-10 {
                    @include flexItem(1, 1, 100%);
                    padding: .5rem .5rem 0;
                    box-sizing: border-box;
                    margin: 0 .5rem 0;
                    overflow: hidden;
                }
            }
        }

        section.pre-footer {
            margin-bottom: 0;
        }
    }
}

@include mediaQuery($mobile-lg){
    body {
        .shell {
            section {
                @include flexAxis(center, center);
                .module {
                    max-width: $laptop;
                    width: 100%;


                    .unit {
                        @include flexItem(1, 1, auto);
                    }

                    .unit-1 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 10%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-2 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 20%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-3 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 30%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-4 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 40%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-5 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 50%);
                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-6 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 60%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-7 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 70%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-8 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 80%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-9 {
                        margin: 0 .5rem .5rem 0;
                        @include flexItem(0, 1, 90%);

                        &:first-child {
                            margin: 0 .5rem .5rem .5rem;
                        }
                    }

                    .unit-10 {
                        @include flexItem(0, 0, 100%);
                    }
                }

                .module-center {
                    @include flexAxis(center, center);
                }

                .module-right {
                    @include flexAxis(flex-end, center);
                }
            }
        }
    }
}
