@mixin mediaQuery($args...) {
    @if length($args) > 1 {
        @media screen and (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
            @content;
        }
    } @else {
        @media screen and (min-width: nth($args, 1)){
            @content;
        }
    }
}

@mixin flexOnly() {
    -webkit-display: -webkit-flex;
     -webkit-display: -webkit-box;
             display: -ms-flexbox;
                    display: flex;
}

// Set a Flex container w/ wrap and direction.
@mixin flexContainer($dir, $wrap) {
         -webkit-display: -webkit-flex;
          -webkit-display: -webkit-box;
                  display: -ms-flexbox;
                         display: flex;
              -webkit-flex-wrap: $wrap;
                  -ms-flex-wrap: $wrap;
                      flex-wrap: $wrap;
          -webkit-flex-direction: $dir;
              -ms-flex-direction: $dir;
                  flex-direction: $dir;
}

// Optional: Set Flex container main and cross alignments
@mixin flexAxis($main, $cross) {
           -webkit-align-items: $cross;
             -webkit-box-align: $cross;
                -ms-flex-align: $cross;
                   align-items: $cross;
        -webkit-justify-content: $main;
                justify-content: $main;
                  -ms-flex-pack: $main;
}

// Optional: Set Flex container cross-line behavior
@mixin flexAlignContent($cross){
        -ms-flex-align-content: $cross;
         -webkit-align-content: $cross;
                 align-content: $cross;
}

// Set Flex item w/ flex properties (grow, shrink and basis)
@mixin flexItem($grow, $shrink, $basis) {
-webkit-box-flex: $grow $shrink $basis;
    -webkit-flex: $grow $shrink $basis;
        -ms-flex: $grow $shrink $basis;
            flex: $grow $shrink $basis;
}

// Optional: Set Flex item order
@mixin flexOrder($order){
    -ms-flex-order: $order;
     -webkit-order: $order;
             order: $order;
}

// Optional: Set individual flex item cross alignment
@mixin flexSelf($cross){
    -ms-flex-align-self: $cross;
     -webkit-align-self: $cross;
             align-self: $cross;
}

@mixin boxShadow($horizontal, $vertical, $blur, $spread, $color) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
       -moz-box-shadow: $horizontal $vertical $blur $spread $color;
            box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin borderRadius($pixels) {
    -webkit-border-radius: $pixels;
       -moz-border-radius: $pixels;
            border-radius: $pixels;
}

@mixin linearGradient($direction, $color) {
    background: -webkit-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
       background: -moz-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
        background: -ms-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
         background: -o-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
           background: -webkit-gradient(linear, $direction, color-stop(0%, lighten($color, 10%)), color-stop(100%, darken($color, 10%)));
            background: linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten($color, 10%)', endColorstr="darken($color, 10%)",GradientType=0);
}

@mixin radialGradient($color, $pos, $size) {
    background:
        -moz-radial-gradient($color $pos, transparent $pos),
        -moz-radial-gradient($color $pos * 2, transparent $pos * 2),
        darken($color, 10%);
    background:
        -webkit-radial-gradient($color $pos, transparent $pos),
        -webkit-radial-gradient($color $pos * 2, transparent $pos * 2),
        darken($color, 10%);
    background:
        radial-gradient($color $pos, transparent $pos),
        radial-gradient($color $pos * 2, transparent $pos * 2),
        darken($color, 10%);
    background-size: $size/2 $size/2;
}

@mixin checkeredGradient($color, $size) {
    background-image: gradient(linear, 0 100%, 100% 0, color-stop(0.25, $color), color-stop(0.25, darken($color, 10%))),
                      gradient(linear, 0 0, 100% 100%, color-stop(0.25, $color), color-stop(0.25, transparent)),
                      gradient(linear, 0 100%, 100% 0, color-stop(0.75, darken($color, 10%)), color-stop(0.75, $color)),
                      gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, $color));
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, $color), color-stop(0.25, darken($color, 10%))),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, $color), color-stop(0.25, transparent)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, darken($color, 10%)), color-stop(0.75, $color)),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, $color));

  -webkit-background-size: $size $size;
     -moz-background-size: $size $size;
          background-size: $size $size;

  background-position: 0 0, $size/2 0, $size/2 ($size/2)*-1, 0px $size/2;
}
