@mixin mediaQuery($args...) {
    @if length($args) > 1 {
        @media screen and (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
            @content;
        }
    } @else {
        @media screen and (min-width: nth($args, 1)){
            @content;
        }
    }
}

@mixin flexOnly() {
             display: -webkit-box !important;
                display: -moz-box !important;
             display: -ms-flexbox !important;
            display: -webkit-flex !important;
                    display: flex !important;
}

// Set a Flex container w/ wrap and direction.
@mixin flexContainer($dir, $wrap) {
             display: -webkit-box;
                display: -moz-box;
             display: -ms-flexbox;
             display: -khtml-flex;
            display: -webkit-flex;
                    display: flex;
                         
    @if $wrap == 'wrap' {
           -webkit-box-lines: multiple;
              -moz-box-lines: multiple;
                   -ms-flex-wrap: wrap;
    } @else {
             -webkit-box-lines: single;
                -moz-box-lines: single;
                   -ms-flex-wrap: none;
    }
               -khtml-flex-wrap: $wrap;
              -webkit-flex-wrap: $wrap;
                      flex-wrap: $wrap;

    @if $dir == 'row' {
       -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
          -moz-box-orient: horizontal;
           -moz-box-direction: normal;
    } @else {
        -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -moz-box-orient: vertical;
          -moz-box-direction: normal;
    }
            -ms-flex-direction: $dir;
         -khtml-flex-direction: $dir;
        -webkit-flex-direction: $dir;
                flex-direction: $dir;
}

// Optional: Set Flex container main and cross alignments
@mixin flexAxis($main, $cross) {
    @if $cross == 'flex-end' {
        -webkit-box-align: end;
           -moz-box-align: end;
           -ms-flex-align: end;
    } @else if $cross == 'flex-start' {
        -webkit-box-align: start;
           -moz-box-align: start;
           -ms-flex-align: start;
    } @else {
        -webkit-box-align: $cross;
           -moz-box-align: $cross;
           -ms-flex-align: $cross;
    }
       -kthml-align-items: $cross;
      -webkit-align-items: $cross;
              align-items: $cross;

    @if $main == 'flex-end' {
        -webkit-box-pack: end;
           -moz-box-pack: end;
           -ms-flex-pack: end;
    } @else if $main == 'flex-start' {
        -webkit-box-pack: start;
           -moz-box-pack: start;
           -ms-flex-pack: start;
    } @else if $main == 'space-between' or $main == 'space-around' {
        -webkit-box-align: justify;
           -moz-box-align: justify;
           -ms-flex-align: justify;
    } @else {
        -webkit-box-pack: $main;
           -moz-box-pack: $main;
           -ms-flex-pack: $main;
    }
         -khtml-justify-content: $main;
        -webkit-justify-content: $main;
                justify-content: $main;
}

// Optional: Set Flex container cross-line behavior
@mixin flexAlignContent($cross){
    @if $cross == 'space-around' {
        -ms-flex-line-pack: distribute;
    } @else if $cross == 'space-between' {
        -ms-flex-line-pack: justify;
    } @else if $cross == 'flex-end' {
        -ms-flex-line-pack: end;
    } @else if $cross == 'flex-start' {
        -ms-flex-line-pack: start;
    } @else {
        -ms-flex-line-pack: $cross;
    }
          -khtml-align-content: $cross;
         -webkit-align-content: $cross;
                 align-content: $cross;
}

// Set Flex item w/ flex properties (grow, shrink and basis)
@mixin flexItem($grow, $shrink, $basis) {
     -khtml-flex: $grow $shrink $basis;
    -webkit-flex: $grow $shrink $basis;
        -ms-flex: $grow $shrink $basis;
            flex: $grow $shrink $basis;
}

// Optional: Set Flex item order
@mixin flexOrder($order){
  -webkit-box-ordinal-group: $order;
     -moz-box-ordinal-group: $order;
             -ms-flex-order: $order;
               -khtml-order: $order;
              -webkit-order: $order;
                      order: $order;
}

// Optional: Set individual flex item cross alignment
@mixin flexSelf($cross){

    @if $cross == 'flex-end' {
          -ms-flex-item-align: end;
    } @else if $cross == 'flex-start' {
        -ms-flex-item-align: start;
    } @else {
        -ms-flex-item-align: $cross;
    }
          -khtml-align-self: $cross;
         -webkit-align-self: $cross;
                 align-self: $cross;
}

@mixin boxShadow($horizontal, $vertical, $blur, $spread, $color) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
       -moz-box-shadow: $horizontal $vertical $blur $spread $color;
            box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin borderRadius($pixels) {
    -webkit-border-radius: $pixels;
       -moz-border-radius: $pixels;
            border-radius: $pixels;
}

@mixin linearGradient($direction, $color) {
    background: -webkit-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
       background: -moz-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
        background: -ms-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
         background: -o-linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
           background: -webkit-gradient(linear, $direction, color-stop(0%, lighten($color, 10%)), color-stop(100%, darken($color, 10%)));
            background: linear-gradient($direction, lighten($color, 10%) 0%, darken($color, 10%) 100%);
}

@mixin radialGradient($color, $pos, $size) {
    background:
        -moz-radial-gradient($color $pos, transparent $pos),
        -moz-radial-gradient($color $pos * 2, transparent $pos * 2),
        darken($color, 10%);
    background:
        -webkit-radial-gradient($color $pos, transparent $pos),
        -webkit-radial-gradient($color $pos * 2, transparent $pos * 2),
        darken($color, 10%);
    background:
        radial-gradient($color $pos, transparent $pos),
        radial-gradient($color $pos * 2, transparent $pos * 2),
        darken($color, 10%);
    background-size: $size/2 $size/2;
}

@mixin checkeredGradient($color, $size) {
    background-image: gradient(linear, 0 100%, 100% 0, color-stop(0.25, $color), color-stop(0.25, transparent)),
                      gradient(linear, 0 0, 100% 100%, color-stop(0.25, $color), color-stop(0.25, transparent)),
                      gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, $color)),
                      gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, $color));
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, $color), color-stop(0.25, transparent)),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, $color), color-stop(0.25, transparent)),
                    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, $color)),
                    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, darken($color, 10%)), color-stop(0.75, $color));

  -webkit-background-size: $size $size;
     -moz-background-size: $size $size;
          background-size: $size $size;

  background-position: 0 0, $size/2 0, $size/2 ($size/2)*-1, 0px $size/2;
}

@mixin stripedGradient($direction, $color, $size) {
    background: repeating-linear-gradient($direction, $color, $color $size / 2, darken($color, 10%) $size / 2, darken($color, 10%) $size * 2);
    background: -o-repeating-linear-gradient($direction, $color, $color $size / 2, darken($color, 10%) $size / 2, darken($color, 10%) $size * 2);
    background: -moz-repeating-linear-gradient($direction, $color, $color $size / 2, darken($color, 10%) $size / 2, darken($color, 10%) $size * 2);
    background: -webkit-repeating-linear-gradient($direction, $color, $color $size / 2, darken($color, 10%) $size / 2, darken($color, 10%) $size * 2);
}

@mixin setAnimation($name, $duration) {
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;
-webkit-animation-duration: $duration;
   -moz-animation-duration: $duration;
     -o-animation-duration: $duration;
        animation-duration: $duration;
}
