// Palette
$white: hsl(0, 0%, 100%);
$light-gray: hsl(120, 4%, 95%);
$gray: hsl(156, 2%, 55%);
$dark-gray: hsl(160, 2%, 25%);
$black: hsl(0, 0%, 10%);
$yellow: hsl(46, 90%, 65%);
$orange: hsl(25, 75%, 47%);
$red: hsl(2, 68%, 57%);
$green: hsl(83, 39%, 53%);
$blue: hsl(213, 50%, 54%);
$purple: hsl(316, 35%, 57%);

// Color Options
$brand: $red;
$info: $blue;
$action: $green;
$attention: $purple;
$hazard: $yellow;
$neutral: $gray;
$void: $black;
$clean: $white;

$colorBgBody: $white;
$colorBgBodyAlt: $red;

$colorBgFull: $red;
$colorBgFullAlt: $yellow;

$colorBgHeader: $white;
$colorBgHeaderAlt: $dark-gray;
$colorBgHeaderLower: $red;

$colorBgFooter: $dark-gray;
$colorBgFooterAlt: $gray;

$colorHeading: $dark-gray;
$colorHeadingInverse: $white;

$colorText: $dark-gray;
$colorTextAlt: $light-gray;
$colorTextInverse: $white;

$colorLink: $red;
$colorLinkDark: darken($red, 15%);
$colorLinkAlt: $gray;
$colorLinkAltDark: $dark-gray;
$colorLinkInverse: $white;

$colorBorder: $light-gray;
$colorBorderDark: $gray;

$colorShadow: $gray;
$colorShadowDark: $dark-gray;

// Social Colors
$colorTwitter: #00aced;
$colorTwitterDark: #0084b4;
$colorGithub: #333;
$colorGithubDark: darken($colorGithub, 15%);
$colorCodepen: #212121;
$colorCodepenDark: darken($colorCodepen, 15%);

// Fonts
$globalFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$globalFontAlt: "Helvetica Neue", Helvetica, Arial, sans-serif;
$globalFontSize: 20px;
$mobileFontSize: 18px;

// Widths
$mobile-sm: 375px;
$mobile-lg: 768px;
$mobile-xl: 1024px;
$laptop: 1280px;
$laptop-lg: 1440px;
$retina: 2560px;
$retina-lg: 2880px;
