// Colors
$white: #fff;
$black: #000;
$light-gray: #d6d6d6;
$gray: rgba(50, 50, 50, .9);
$dark-gray: #323232;
$red: #ff4444;
$pink: #ff44a2;
$orange: #ffa244;
$blue: #44a2ff;
$green: #44ffa2;
$tan: #fff7f1;

$colorBgPrimary: $white;
$colorBgSecondary: $red;

$colorBgCalloutPrimary: $red;
$colorBgCalloutSecondary: $dark-gray;

$colorBgHeader: $white;
$colorBgHeaderSecondary: $red;

$colorBgFooter: $dark-gray;

$colorHeadingPrimary: $dark-gray;
$colorTextPrimary: $gray;
$colorTextSecondary: $light-gray;
$colorTextInverse: $white;

$colorLinkPrimary: $red;
$colorLinkPrimaryDark: darken($red, 15%);
$colorLinkSecondary: $gray;
$colorLinkSecondaryDark: dark-gray;

$colorBorderPrimary: $light-gray;

$colorShadowPrimary: $light-gray;
$colorShadowSecondary: $gray;

// Brand Colors
$colorTwitter: #00aced;
$colorTwitterDark: #0084b4;
$colorGithub: #333;
$colorGithubDark: darken($colorGithub, 15%);
$colorCodepen: #212121;
$colorCodepenDark: darken($colorCodepen, 15%);

// Fonts
$globalFontPrimary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$globalFontSecondary: "Helvetica Neue", Helvetica, Arial, sans-serif;
$globalFontSize: 20px;
$mobileFontSize: 18px;

// Widths
$mobile-sm: 375px;
$mobile-lg: 768px;
$mobile-xl: 1024px;
$laptop: 1280px;
$laptop-lg: 1440px;
$retina: 2560px;
$retina-lg: 2880px;
