// Colors
$white: #fff;
$black: #000;
$light-gray: #dbdbdb;
$gray: #404040;
$dark-gray: #2b2b2b;
$red: #ff4444;
$pink: #ff44a2;
$orange: #ffa244;
$blue: #44a2ff;
$green: #44ffa2;
$tan: #fff7f1;

$colorBgPrimary: $white;
$colorBgSecondary: $red;
$colorBgCallout: $orange;
$colorBgHeader: $white;
$colorBgHeaderSecondary: $red;
$colorBgFooter: $dark-gray;

$colorTextPrimary: $gray;
$colorTextSecondary: $light-gray;
$colorTextInverse: $white;

$colorLinkPrimary: $red;
$colorLinkPrimaryDark: darken($red, 15%);
$colorLinkSecondary: $blue;
$colorLinkSecondaryDark: darken($blue, 15%);

$colorBorderPrimary: $light-gray;

$colorShadowPrimary: darken($light-gray, 15%);
$colorShadowSecondary: $gray;

// Fonts
$globalFont: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$globalFontSize: 18px;
$mobileFontSize: 16px;

// Widths
$mobile-sm: 375px;
$mobile-lg: 768px;
$mobile-xl: 1024px;
$laptop: 1280px;
$laptop-lg: 1440px;
$retina: 2560px;
$retina-lg: 2880px
