html {
    font-family: $globalFontPrimary;
    font-size: $mobileFontSize;
}

p, a, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, td, form {
    font-size: 1rem;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $globalFontSecondary;
    color: $colorTextPrimary;
    margin: 0 0 .5rem 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
}

h6 {
    font-size: .9rem;
    font-weight: 500;
}

p {
    color: $colorTextPrimary;
    margin: 0 0 1rem 0;
}

a {
    text-decoration: none;
    color: $colorLinkPrimary;
}

a:hover {
    color: $colorLinkPrimaryDark;
}

.hidden {
    display: none;
}

.hidden-mobile {
    display: none;

    @include mediaQuery($mobile-lg) {
        .hidden-mobile {
            @include flexOnly();
        }

        .hidden-desktop {
            display: none;
        }
    };
}

.twitter {
    color: $colorTwitter;

    &:hover {
        color: $colorTwitterDark;
    }
}

.github {
    color: $colorGithub;

    &:hover {
        color: $colorGithubDark;
    }
}

.codepen {
    color: $colorCodepen;

    &:hover {
        color: $colorCodepenDark;
    }
}

@include mediaQuery($mobile-lg){
    html {
        font-size: $globalFontSize;
    }

    h1 {
        font-size: 5rem;
        text-align: left;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}
