html {
    font-family: $globalFont;
    font-size: $mobileFontSize;
}

p, a, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, td, form {
    font-size: 1rem;
    color: $colorText;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $globalFont;
    color: $colorHeading;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

h6 {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

a {
    text-decoration: none;
    color: $colorLink;
    cursor: pointer;
}

a:hover {
    color: $colorLinkDark;
}

p {
    margin: 0 0 1rem 0;
}

ol, ul {
    padding: 0 0 0 1.1rem;
}

dl {
    width: 100%;
    @include flexContainer(row, wrap);
    @include flexAxis(flex-start, space-between);

    dt {
        @include flexItem(1, 1, 100%);
        font-weight: bold;
    }

    dd {
        @include flexItem(1, 1, 100%);
        margin: 0 0 .5rem 0;
    }
}

pre, code {
    font-size: .875rem;
    background: $colorBgCode;
    @include borderRadius(5px);
}

code {
    line-height: 1.5rem;
    padding: .15rem .25rem;
    color: $colorTextCode;
    box-sizing: border-box;
    margin: 0;
}

pre {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    box-sizing: border-box;
}

blockquote {
    margin: 0;
    text-align: center;

    &::before {
        content: open-quote;
        font-size: 5rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 400;
        margin: -3rem 0 0 0;
    }

    cite {
        font-size: .9rem;
        color: $colorTextAlt;
    }

    cite::before{
        content: "\2014 ";
    }
}

// Alignment
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@include mediaQuery($mobile-lg){
    html {
        font-size: $globalFontSize;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    dl {

        dt {
            @include flexItem(1, 1, 15%);
        }

        dd {
            @include flexItem(1, 1, 85%);
        }
    }
}
