// Color List
$white: #fff;
$black: #000;
$light-gray: #dbdbdb;
$gray: #404040;
$dark-gray: #2b2b2b;
$red: #ff4444;
$tan: #fff7f1;


$bgPrimary: $tan;
$bgSecondary: $white;
$bgNotice: $dark-gray;
$bgQuote: $red;
$bgHeader: $white;
$bgFooter: $dark-gray;

$textPrimary: $gray;
$textLight: $light-gray;
$textDark: $dark-gray;

$linkPrimary: $red;
$linkHover: darken($red, 15%);
$linkVisited: $red;

$shadowLight: $gray;
$shadowDark: $dark-gray;
