%bg {
    margin-bottom: 1rem;

    .module {
        @include flexAxis(center, center);

        .unit {
            h1, h2, h3, h4, h5, h6, p {
                color: $colorTextInverse;
            }
        }
    }
}

.bg-full {
    @extend %bg;
    background: $colorBgFullOne;
    height: 100vh;
}

.bg-half {
    @extend %bg;
    background: $colorBgFullOne;
    height: 50vh;
}

.bg-fourth {
    @extend %bg;
    background: $colorBgFullOne;
    height: 30vh;
}

.bg-secondary {
    @extend %bg;
    background: $colorBgFullTwo;
}

.bg-gradient {
    @include linearGradient(to bottom right, $colorBgFullTwo);
}

.bg-polkadots {
    @include radialGradient($colorBgFullTwo, 10%, 25px);
}

.bg-checkered {
    @include checkeredGradient($colorBgFullTwo, 50px);
}

.bg-striped {
    @include stripedGradient(315deg, $colorBgFullTwo, 5px);
}
