%bg {
    margin-bottom: 1rem;

    .module {
        @include flexAxis(center, center);

        .unit {
            h1, h2, h3, h4, h5, h6, p {
                color: $colorTextInverse;
            }
        }
    }
}

.bg-full {
    @extend %bg;
    background: $colorBgCalloutPrimary;
    height: 100vh;
}

.bg-half {
    @extend %bg;
    background: $colorBgCalloutPrimary;
    height: 50vh;
}

.bg-fourth {
    @extend %bg;
    background: $colorBgCalloutPrimary;
    height: 25vh;
}

.bg-secondary {
    @extend %bg;
    background: $colorBgCalloutSecondary;
    height: 50vh;
}

.bg-gradient {
    @include linearGradient(to bottom right, $colorBgCalloutSecondary);
}

.bg-dots {
    @include radialGradient($colorBgCalloutSecondary, 10%, 25px);
}

.bg-checkered {
    @include checkeredGradient($colorBgCalloutSecondary, 50px);
}
