%bg {
    background: $colorBgFull;

    .module {


        .unit {
            h1, h2, h3, h4, h5, h6, p {
                color: $colorTextInverse;
            }
        }
    }
}

.bg-full {
    @extend %bg;
    height: 100vh;
}

.bg-half {
    @extend %bg;
    height: 50vh;
}

.bg-fourth {
    @extend %bg;
    height: 30vh;
}

.bg-secondary {
    @extend %bg;
    background: $colorBgFullAlt;
}

.bg-gradient {
    @include linearGradient(to bottom right, $colorBgFullAlt);
}

.bg-polkadots {
    @include radialGradient($colorBgFullAlt, 10%, 25px);
}

.bg-checkered {
    @include checkeredGradient($colorBgFullAlt, 50px);
}

.bg-striped {
    @include stripedGradient(315deg, $colorBgFullAlt, 5px);
}
