%btn {
    font-weight: 500;
    text-align: center;
    color: $colorLinkInverse;
    padding: .5rem 1rem;
    display: inline-block;
    background: $brand;
    @include borderRadius(5px);
    box-sizing: border-box;
    margin: 0 0 1rem;
    width: 100%;
    cursor: pointer;

    &:hover {
        background: lighten($brand, 5%);
        color: $colorLinkInverse;
        @include boxShadow(0, 0, 5px, 0, $colorShadow);
    }

    &:active {
        margin: .1rem 0 .9rem !important;
    }
}

.submit, .btn {
    @extend %btn;
}

.btn-info {
    background: $info;

    &:hover {
        background: lighten($info, 5%);
    }
}

.btn-action {
    background: $action;

    &:hover {
        background: lighten($action, 5%);
    }
}

.btn-attention {
    background: $attention;

    &:hover {
        background: lighten($attention, 5%);
    }
}

.btn-hazard {
    background: $hazard;

    &:hover {
        background: lighten($hazard, 5%);
    }
}

.btn-neutral {
    background: $neutral;

    &:hover {
        background: lighten($neutral, 5%);
    }
}

.btn-void {
    background: $void;
    border: none;
    box-shadow: none;

    &:hover {
        background: lighten($void, 5%);
    }
}

.submit, .btn-clean {
    background: $clean;
    color: $colorLinkAlt;


    &:hover {
        color: $colorLinkAlt;
        background: $light-gray;
    }
}

.btn-group {

    .btn {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 1rem;
        }

    }
}

@include mediaQuery($mobile-lg) {
    %btn {
        margin: 0 0 1rem 0;
        width: max-content;

        &:active {
            margin: .1rem 0 .9rem 0 !important;
        }
    }

    .btn-center {
        display: block;
        margin: 0 auto 1rem;

        &:active {
            margin: .1rem auto .9rem !important;
        }
    }

    // .btn-right {
    //     margin: 0 0 1rem 90% !important;
    //
    //     &:active {
    //         margin: .1rem 0 .9rem 90% !important;
    //     }
    // }

    .btn-group {
        @include flexContainer(row, nowrap);
        @include flexAxis(flex-start, center);

        .btn {
            margin: 0 .5rem 1rem .5rem;

            &:first-child {
                margin-left: 0;

                &:active {
                    margin: .1rem .5rem .9rem 0 !important;
                }
            }

            &:last-child {
                margin-right: 0;

                &:active {
                    margin: .1rem 0 .9rem .5rem !important;
                }
            }

            &:active {
                margin: .1rem .5rem .9rem !important;
            }

        }
    }
}
