%btn {
    font-weight: 500;
    text-align: center;
    color: $colorLinkInverse;
    padding: .5rem 1rem;
    display: inline-block;
    background: $brand;
    @include borderRadius(5px);
    box-sizing: border-box;
    margin: .1rem 1rem 1rem 0;
    width: 100%;
    cursor: pointer;

    &:hover {
        color: $colorLinkInverse;
        @include boxShadow(0, 0, .25rem, 0, $colorShadow);
        margin: 0 1rem 1.1rem 0;
    }

    &:active {
        @include boxShadow(0, 0, 0, 0, transparent);
        margin: .1rem 1rem 1rem 0;
    }
}

.submit, .btn {
    @extend %btn;
}

.btn-info {
    background: $info;
}

.btn-action {
    background: $action;
}

.btn-attention {
    background: $attention;
}

.btn-hazard {
    background: $hazard;
}

.btn-neutral {
    background: $neutral;
}

.btn-void {
    background: $void;
    border: none;
    box-shadow: none;

    &:hover {
        background: lighten($void, 5%);
    }
}

.submit, .btn-clean {
    background: $clean;
    color: $colorLinkAlt;
    border: 1px solid $light-gray;


    &:hover {
        color: $colorLinkAlt;
        background: $dark-gray;
    }
}

@include mediaQuery($mobile-lg) {

    %btn {
        width: fit-content;
    }

    .btn-center {
        display: block;
        margin: .1rem auto .5rem !important;

        &:hover {
            margin: 0 auto .6rem !important;
        }

        &:active {
            margin: .1rem auto .5rem !important;
        }
    }

    // .btn-right {
    //     margin: 0 0 1rem 90% !important;
    //
    //     &:active {
    //         margin: .1rem 0 .9rem 90% !important;
    //     }
    // }

    .btn-group {
        @include flexContainer(row, nowrap);
        @include flexAxis(flex-start, center);

        .btn {
            margin: .1rem .5rem 1rem .5rem;

            &:first-child {
                margin: .1rem .5rem 1rem 0;

                &:hover {
                    margin: 0 .5rem 1.1rem 0;
                }

                &:active {
                    margin: .1rem .5rem 1rem 0 !important;
                }
            }

            &:last-child {
                margin: .1rem 0 1rem .5rem;

                &:hover {
                    margin: 0 0 1.1rem .5rem;
                }

                &:active {
                    margin: .1rem 0 1rem .5rem !important;
                }
            }

            &:hover {
                margin: 0 .5rem 1.1rem .5rem;
            }

            &:active {
                margin: .1rem .5rem 1rem .5rem;
            }

        }
    }
}
