.comment-grid {
    @include flexContainer(column, nowrap);
    @include flexAxis(flex-start, flex-start);
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;
    border: 1px solid $colorBorder;
    @include borderRadius(5px);

    .comment-list {
        list-style: none;
        width: 100%;
        margin-bottom: 0;
        margin-bottom: 1rem;

        .comment {

            ul, li {
                list-style: none;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .comment-body {

                .comment-author {
                    @include flexContainer(row, nowrap);
                    @include flexAxis(flex-start, center);

                    img {
                        width: 50px;
                        height: 50px;
                        margin: 0 .5rem .25rem 0;
                        @include borderRadius(5px);
                    }

                    cite, span {
                        margin: 0 5px 0 0;
                    }

                }

                .comment-meta {
                    p, a {
                        margin-bottom: 0;
                        font-size: .9rem;
                        color: $colorTextAlt;
                    }
                }

                p, a {
                    margin-bottom: 0;
                    font-size: 1rem;
                }

                .reply {
                    margin-bottom: 1rem;

                    a {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}
