.comment-grid {
    @include flexContainer(column, nowrap);
    @include flexAxis(flex-start, flex-start);
    margin-bottom: 2rem;
    padding: 1rem 1rem 0 0;
    box-sizing: border-box;
    border: 1px solid $colorBorder;
    @include borderRadius(5px);

    .comment-list {
        list-style: none;
        width: 100%;
        margin-bottom: 0;

        .comment {
            margin-bottom: 2rem;

            ul, li {
                list-style: none;
            }

            &:last-child {
                margin-bottom: 1rem;
            }

            .comment-body {
                margin-bottom: 2rem;
                padding: 0 .5rem;
                box-sizing: border-box;


                &:last-child {
                    margin-bottom: 0;
                }

                .comment-author {
                    @include flexContainer(row, nowrap);
                    @include flexAxis(flex-start, center);
                    margin-bottom: .25rem;

                    img {
                        width: 75px;
                        height: 75px;
                        margin: 0 .5rem .25rem 0;
                        @include borderRadius(5px);
                    }

                    cite {
                        margin: 0 5px 0 0;
                        font-style: normal;
                    }

                    cite, span {
                        font-weight: bold;
                    }

                }

                .comment-meta {
                    p, a {
                        margin-bottom: 0;
                        font-size: .8rem;
                        color: $colorTextAlt;
                    }
                }

                p, a {
                    margin-bottom: .5rem;;
                    font-size: 1rem;
                }

                .reply {

                    a {
                        font-weight: 500;
                        text-align: center;
                        color: $colorLinkInverse;
                        padding: .25rem 1.25rem;
                        display: inline-block;
                        background: $brand;
                        @include borderRadius(5px);
                        @include boxShadow(0, 0, 5px, 0, $colorShadow);
                        box-sizing: border-box;
                        margin: 0 0 .25rem !important;
                        width: max-content;
                        cursor: pointer;

                        &:hover {
                            @include boxShadow(0, 0, 2px, 0, $colorShadowDark);
                            margin: .1 0 .15rem !important;
                        }

                        &:active {
                            margin: 0 0 .25rem !important;
                        }

                        @include mediaQuery($mobile-lg) {
                            font-size: .8rem;
                            padding: .1rem .5rem;
                        };

                    }
                }
            }
        }
    }
}

.comment-form {
    .logged-in-as {
        margin-bottom: 0;
    }
}
