footer {
    width: 100vw;
    background: $colorBgFooter;
    padding: 2rem 0 1rem 0;
    box-sizing: border-box;

    .footer-module {
        @include flexContainer(column, nowrap);
        @include flexAxis(flex-start, center);
        width: 100%;
        padding: 1rem;
        margin: auto;
        box-sizing: border-box;

        .footer-nav {
            @include flexItem(1, 1, 100%);
            width: 100%;
            @include flexContainer(row, nowrap);
            @include flexAxis(center, center);

            h2, h3, h4, h5, h6 {
                color: $colorLinkInverse;
            }

            ul {
                margin: 0 2rem;

                li, li a {
                    color: $colorLinkInverse;
                    font-size: .8rem;
                }
            }
        }

        .nav-sns {
            @include flexContainer(row, nowrap);
            @include flexAxis(center, center);
            @include flexItem(0, 1, auto);
            width: 10rem;
            margin: 1rem 0;
            padding: 0;
        }

        .footer-copyright {
            color: $colorTextAlt;
            font-size: .75rem;
        }
    }
}

@include mediaQuery($mobile-lg){
    footer {
        .footer-module {
            max-width: $laptop;
        }
    }
}
