footer {
    width: 100vw;
    background: $colorBgFooterOne;
    // @include flexContainer(column, nowrap);

    .footer-module {
        @include flexContainer(column, nowrap);
        @include flexAxis(flex-start, center);
        width: 100%;
        padding: 1rem;
        margin: auto;
        box-sizing: border-box;

        .footer-sns {
            margin: 1rem;
            padding: 0;
            @include flexContainer(row, nowrap);
            @include flexAxis(center, center);

            li {
                list-style: none;
                text-align: center;
                margin: 0 1rem;

                a {
                    font-size: 2.5rem;
                    color: $colorTextInverse;
                }
            }
        }

        .footer-copyright {
            color: $colorTextTwo;
        }
    }
}

@include mediaQuery($mobile-lg){
    footer {
        .footer-module {
            max-width: $laptop;
        }
    }
}
