header {
    @include flexContainer(row, nowrap);
    @include flexAxis(center, center);
    @include flexItem(1, 1, 100%);
    background: $colorBgHeader;

    nav {
        @include flexContainer(row, nowrap);
        @include flexAxis(center, center);
        width: 100vw;
        @include boxShadow(0, 0, 5px, 0, $colorShadowPrimary);

        .nav-module {
            @include flexContainer(column, nowrap);
            @include flexAxis(flex-start, stretch);
            width: 100%;
            padding: .5rem 1rem 0;
            box-sizing: border-box;

            .nav-upper {
                @include flexContainer(row, nowrap);
                @include flexAxis(center, center);
                @include flexItem(1, 1, 100%);

                #logo img {
                    @include boxShadow(0, 0, 1px, 0, $colorShadowPrimary);

                    &:hover {
                        @include boxShadow(0, 0, 5px, 0, $colorShadowPrimary);
                    }
                }
            }

            .nav-lower {
                @include flexContainer(row, nowrap);
                @include flexAxis(center, flex-end);
                @include flexItem(0, 1, 100%);
            }

            .nav-links {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    float: left;
                    margin: 0 1.25rem .25rem;
                }
            }

            .nav-sns {
                display: none;
            }
        }
    }
}

@include mediaQuery($mobile-lg){
    header {
        nav {

            .nav-module {
                max-width: $laptop;

                .nav-upper {
                    @include flexAxis(space-between, center);
                }

                .nav-links {
                    li {
                        margin: 0 4rem .25rem;
                    }
                }

                .nav-sns {
                    display: block;

                    li {
                        list-style: none;
                        float: left;
                        margin: 0 .5rem;

                        a {
                            font-size: 2.25rem;
                            color: $colorTextInverse;
                            text-shadow: 0 0 1px $colorShadowSecondary, 0 0 0 $colorShadowPrimary, 0 0 1px $colorShadowSecondary;

                            &:hover {
                                // color: $colorLinkPrimaryDark;
                                text-shadow: 0 0 5px $colorShadowSecondary;
                            }
                        }
                    }
                }
            }
        }
    }
}
