header {
    @include flexContainer(column, nowrap);
    @include flexAxis(center, center);
    @include flexItem(0, 0, auto);
    background: $colorBgHeader;
    margin-bottom: 1px;

    nav {
        @include flexContainer(row, nowrap);
        @include flexAxis(center, center);
        width: 100vw;
        // @include boxShadow(0, 0, 5px, 0, $colorShadowPrimary);
        border-bottom: 5px solid $colorLinkPrimary;

        .nav-module {
            @include flexContainer(column, nowrap);
            @include flexAxis(flex-start, stretch);
            width: 100%;
            padding: .5rem 1rem 0;
            box-sizing: border-box;

            .nav-upper {
                @include flexContainer(row, nowrap);
                @include flexAxis(center, center);
                @include flexItem(1, 1, 100%);

                #logo img {
                    @include boxShadow(0, 0, 1px, 0, $colorShadowPrimary);

                    &:hover {
                        @include boxShadow(0, 0, 7px, 0, $colorShadowPrimary);
                    }
                }
            }

            .nav-lower {
                @include flexContainer(row, nowrap);
                @include flexAxis(center, flex-end);
                @include flexItem(0, 1, 100%);
            }

            .nav-links {
                margin: 0;
                padding: 0;

                @include flexContainer(row, nowrap);
                @include flexAxis(center, flex-end);
                @include flexItem(0, 1, 100%);

                li {
                    @include flexItem(1, 1, auto);
                    list-style: none;
                    text-align: center;
                    margin: 0 auto;
                }
            }

            .nav-sns {
                display: none;
            }
        }
    }
}

@include mediaQuery($mobile-lg){
    header {
        nav {

            .nav-module {
                max-width: $laptop;

                .nav-upper {
                    @include flexAxis(space-between, center);
                }

                .nav-links {
                    @include flexItem(0, 1, 50%);
                }

                .nav-sns {
                    margin: 0;
                    padding: 0;
                    @include flexContainer(row, nowrap);
                    @include flexAxis(space-around, center);
                    @include flexItem(0, 1, 10rem);

                    li {
                        @include flexItem(0, 1, auto);
                        list-style: none;
                        text-align: center;
                        margin: 0 auto;

                        a {
                            font-size: 2.25rem;

                            &:hover {
                                text-shadow: 0 0 2px $colorShadowPrimary;
                            }

                        }
                    }

                }
            }
        }
    }
}
