.icon {
    color: $colorIcon;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.icon-inverse {
    color: $colorIconInverse;
}

.fa-twitter {

    &:hover {
        color: $colorTwitter;
    }
}

.fa-github {

    &:hover {
        color: $colorGithub;
    }
}

.fa-codepen {

    &:hover {
        color: $colorCodepen;
    }
}

.fa-linkedin {

    &:hover {
        color: $colorLinkedin;
    }
}

.fa-facebook {

    &:hover {
        color: $colorFacebook;
    }
}

.fa-instagram {

    &:hover {
        color: $colorInstagram;
    }
}

.fa-youtube {

    &:hover {
        color: $colorYouTube;
    }
}

.fa-pinterest {

    &:hover {
        color: $colorPinterest;
    }
}

.fa-tumblr {

    &:hover {
        color: $colorTumblr;
    }
}

.fa-google-plus {

    &:hover {
        color: $colorGooglePlus;
    }
}

.fa-meetup {

    &:hover {
        color: $colorMeetup;
    }
}

.fa-flickr {

    &:hover {
        color: $colorFlickr;
    }
}

.fa-reddit {

    &:hover {
        color: $colorReddit;
    }
}
