figure {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
    margin-bottom: .5rem;
    // @include borderRadius(5px);
}

.hero {
    position: relative;

    .hero-text {
        position: absolute;
        top: 0;
        left: 0;
        padding: .5rem;
        box-sizing: border-box;
        margin: 0;

        h2, h3, h4, h5, h6 {
            color: $colorTextInverse;
            margin-bottom: 0;
        }
    }
}

@include mediaQuery($mobile-lg) {
    .hero {
        .hero-text {
            padding: 1rem;
        }
    }
};
