.hidden {
    display: none;
}

.hidden-mobile {
    display: none !important;
}

.lock {
    height: 100% !important;
    max-height: 100% !important;
    overflow: hidden !important;
    position: fixed; 
}

@include mediaQuery($mobile-lg) {
    .hidden-mobile {
        @include flexOnly();
    }

    .hidden-desktop {
        display: none;
    }
};
