.media-card {
    @include flexContainer(row, nowrap);
    @include flexAxis(flex-start, center);
    margin-bottom: 1rem;
    border: 1px solid $colorBorder;
    @include borderRadius(5px);

    @include mediaQuery($mobile-lg) {
        max-width: 75%;
    };

    @include mediaQuery($laptop) {
        max-width: 50%;
    };

    .media-img {
        @include borderRadius(50%);
        max-width: 100px;
        padding: 1rem;
        margin: 0;
    }

    .media-details {
        padding: .5rem .5rem .5rem 0;
        box-sizing: border-box;

        h2, h3, h4, h5, h6 {
            font-size: 1rem;
        }

        p {
            font-size: .9rem;
            margin-bottom: 0;
        }

        .media-title {
            margin-bottom: .25rem;
        }
    }
}
